
<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  <div class="field">
    <%= f.hidden_field :user_id, :value => @comment.user_id%>
  </div>

  <div class="field">
    <%= f.hidden_field :submission_id, :value => @comment.submission_id%>
  </div>

  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_area :message %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
