<div id="navbar">
  <div class="menu">
    <ul>
      <li><a href="/">Hacker News</a></li>
      <li><a href="/submissions">News</a></li>
      <li><a href="/comments">Comments</a></li>
      <li><a href="/asks">Asks</a></li>
      <% if current_user %>
        <li><a href="/submissions/new">Submit</a></li>
      <% end %>
      <% if current_user %>
        <li class="active"><a href="/threads">Threads</a></li>
      <% end %>
      
      <% if current_user %>
        <li class ="float-right white-text" style="display:inline-flex">
          <a class="float-right" href="/users/<%= current_user.id %>">
            Hi o/ <%=current_user.name %>
          <div class="user-image float-right" style="background-image:url(<%= current_user.picture %>?sz=45);"><div>
          </a>    
        </li>
        <li class=float-right><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <li class ="float-right"><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
      <% end %>
      <div class="clearFloat"></div>
    </ul>
  </div>
</div>
<div class="content-wrapper">
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      
      <%= link_to comment.user.name, comment.user %> |
      <%= link_to distance_of_time_in_words(comment.created_at, Time.now)+" ago", comment %> |
      <% if !comment.parent.nil? %>
        <%= link_to 'Parent', comment.parent %> |
      <% else %>
        <%= link_to 'Parent', comment.submission %> |
      <% end %>
      on:
      <%= link_to comment.submission.title, comment.submission %> <br>
      <%= comment.message %> <br><br>

    <% end %>
  </tbody>
</table>

<br>
</div>