<div id="navbar">
  <div class="menu">
    <ul>
      <li><a href="/">Hacker News</a></li>
      <li><a href="/submissions">News</a></li>
      <li><a href="/comments">Comments</a></li>
      <li><a href="/asks">Asks</a></li>
      <% if current_user %>
        <li><a href="/submissions/new">Submit</a></li>
      <% end %>
      <% if current_user %>
        <li><a href="/threads">Threads</a></li>
      <% end %>
      
      <% if current_user %>
        <li class ="float-right white-text" style="display:inline-flex">
          <a class="float-right" href="/users/<%= current_user.id %>">
            Hi o/ <%=current_user.name %>
          <div class="user-image float-right" style="background-image:url(<%= current_user.picture %>?sz=45);"><div>
          </a>    
        </li>
        <li class=float-right><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <li class ="float-right"><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
      <% end %>
      <div class="clearFloat"></div>
    </ul>
  </div>
</div>
<div class="content-wrapper">
  <p id="notice"><%= notice %></p>
  
  <p>
    <strong>Name:</strong>
    <%= @user.name %> 
    <strong>Submissions:</strong>
    <%= @user.submissions.size %>
    <strong>Comments:</strong>
    <%= @user.comments.size %>
  </p>
  <img src="<%= @user.picture %>"></img>
  
  
  <% if current_user and current_user.id == @user.id%>
    <%= render 'form' %>
    <strong>api_key:</strong> <code><%= hashedId(@user) %></code>
    <p>
      <strong>ID:</strong>
      <code><%= @user.id %></code> 
    </p>
  <% else %>
  
  
  <p>
    <strong>About:</strong>
    <%= @user.about %>
  </p>
  <% end %>
  
</div>