  <%= form_for(@submission) do |f| %>
    <% if @submission.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@submission.errors.count, "error") %> prohibited this submission from being saved:</h2>
  
        <ul>
        <% @submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  
  
    <div class="field">
      <%= f.hidden_field :user_id, :value => @submission.user_id%>
    </div>
    
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="field">
      <%= f.label :url %><br>
        <%= f.url_field :url, :placeholder => "http:\\www.google.es" %> 
    </div>
    
    <b> or </b>
    
    <div class="field">
      <%= f.label :message %><br>
      <%= f.text_area :message %>
    </div> 
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
