<div id="navbar">
  <div class="menu">
    <ul>
      <li class="active"><a href="/">Hacker News</a></li>
      <li><a href="/submissions">News</a></li>
      <li><a href="/comments">Comments</a></li>
      <li><a href="/asks">Asks</a></li>
      <% if current_user %>
        <li><a href="/submissions/new">Submit</a></li>
      <% end %>
      <% if current_user %>
        <li><a href="/threads">Threads</a></li>
      <% end %>
      
      <% if current_user %>
        <li class ="float-right white-text" style="display:inline-flex">
          <a class="float-right" href="/users/<%= current_user.id %>">
            Hi o/ <%=current_user.name %>
          <div class="user-image float-right" style="background-image:url(<%= current_user.picture %>?sz=45);"><div>
          </a>    
        </li>
        <li class=float-right><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <li class ="float-right"><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
      <% end %>
      <div class="clearFloat"></div>
    </ul>
  </div>
</div>

<div class="content-wrapper">
  <p id="notice"><%= notice %></p>
  <table>
    <tbody>
      <% @submissions.each_with_index do |submission, index| %>
        <tr class ="">
          <td>
            <span><%= index+1 %>. </span>
            <% if !current_user%>
            <% elsif !isCurrentUserSubmission(submission) and !currentUserHasUpVotedTheSubmission(submission) %>
              <span style="color:gray;"><%= link_to "▲", upvote_submission_path(submission) %></span>
            <% elsif !isCurrentUserSubmission(submission) %>
              <span style="color:green;"><%= link_to "▲", upvote_submission_path(submission), {:style=>'color:green;'}%></span>
            <% else%>
              <span style="color:orange;">*</span>
            <% end %>
            <a href="<%= submission.url %>"><%= submission.title %></a>
            <span>(<%= link_to submission.url, submission.url %>)</span>
          </td>
        </tr>
        <tr class ="submission-info">
          <td>points <%= submission.submission_votes.size + 1 %> posted by <%= link_to submission.user.name, submission.user %>
            <span><%= link_to distance_of_time_in_words(submission.created_at, Time.now)+" ago", submission %></span>
            <% if submission.comments.size == 0 %>
            <span> | <%= link_to "Discuss", submission %> </span>
            <% else %>
            <span> | <%= link_to submission.comments.size.to_s+" comments", submission %> </span>
            <% end %>
            </td>
          </tr>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
