<div id="navbar">
  <div class="menu">
    <ul>
      <li><a href="/">Hacker News</a></li>
      <li><a href="/submissions">News</a></li>
      <li><a href="/comments">Comments</a></li>
      <li><a href="/asks">Asks</a></li>
      <% if current_user %>
        <li><a href="/submissions/new">Submit</a></li>
      <% end %>
      <% if current_user %>
        <li><a href="/threads">Threads</a></li>
      <% end %>
      
      <% if current_user %>
        <li class ="float-right white-text" style="display:inline-flex">
          <a class="float-right" href="/users/<%= current_user.id %>">
            Hi o/ <%=current_user.name %>
          <div class="user-image float-right" style="background-image:url(<%= current_user.picture %>?sz=45);"><div>
          </a>    
        </li>
        <li class=float-right><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
      <% else %>
        <li class ="float-right"><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
      <% end %>
      <div class="clearFloat"></div>
    </ul>
  </div>
</div>
<div class="content-wrapper">
  <p id="notice"><%= notice %></p>
  
  <% if !current_user %>
  <% elsif !currentUserHasUpVotedTheSubmission(@submission) and !isCurrentUserSubmission(@submission)%>
    <%= link_to "▲ ", upvote_submission_path(@submission) %>
  <% elsif !isCurrentUserSubmission(@submission)%>
    <span style="color:green;"><%= link_to "▲ ", upvote_submission_path(@submission), {:style=>'color:green;'}%></span>
  <% else %>
    <span style="color:orange;">* </span>
  <% end %>
  
  <% if @submission.message.empty? %>
    <a href="<%= @submission.url %>"><%= @submission.title %></a>
    <span>(<%= link_to @submission.url, @submission.url %>)</span>
  <% else %>
    <%= link_to @submission.title, @submission %>
  <% end %>
  
  <br>
  
  points <%= @submission.submission_votes.size + 1 %> by <%= link_to @submission.user.name, @submission.user %> |
  <%= link_to distance_of_time_in_words(@submission.created_at, Time.now)+" ago", @submission %> |
  
  
  <% if @comments.size == 0 %>
    <%= link_to 'discuss', @submission %>
  <% elsif (@comments.size + @replies.size) == 1 %>
    <%= link_to "1 comment" , @submission %>
  <% else %>
    <%= link_to "#{@comments.size + @replies.size} comments" , @submission %>
  <% end %>
  
  
  
  <% if !@submission.message.empty? %>
    <br><%= @submission.message %> <br><br>
  <% end %>
  
  <% if current_user %>
    <%= render 'comments/form' %>
  <% end %>
  
  <% @comments.each do |comment| %>
    <p>
      <% if !current_user %>
      <% else %>
        <% if !currentUserHasUpVotedTheComment(comment) and !isCurrentUserComment(comment) %>
            <%= link_to "▲", upvote_comment_path(comment) %>
        <% elsif !isCurrentUserComment(comment) %>
          <span style="color:green;"><%= link_to "▲", upvote_comment_path(comment), {:style=>'color:green;'}%></span>
        <% else%>
          <span style="color:orange;">*</span>
        <% end %>
      <% end %>
      <%= link_to comment.user.name, comment.user %> |
      <%= link_to distance_of_time_in_words(comment.created_at, Time.now)+" ago", comment %><br>
      <%= comment.message %><br>
      <%= link_to 'Reply', comment%>
    </p>
    
    <% @replies.each do |reply| %>
      
      <% if reply.parent_id == comment.id %>
        <div style="margin-left: 30px;"> 
          <p>
            <% if !current_user %>
            <% elsif !currentUserHasUpVotedTheComment(reply) and !isCurrentUserComment(reply) %>
                <%= link_to "▲", upvote_comment_path(reply) %>
            <% elsif !isCurrentUserComment(reply) %>
              <span style="color:green;"><%= link_to "▲", upvote_comment_path(reply), {:style=>'color:green;'}%></span>
            <% else%>
              <span style="color:orange;">*</span>
            <% end %>
            <%= link_to reply.user.name, reply.user %> |
            <%= link_to distance_of_time_in_words(comment.created_at, Time.now)+" ago", comment %><br>
            <%= reply.message %>
          </p>
        </div>
        <% end %>
    <% end %>
  <% end %>
</div>

