/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
 html {
   height:100%;
 }
 
 body {
   height: 100%;
   color: black;
   margin: 0 auto;
 }
 
.menu{
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
width:100%;
}

.navbar {
  padding-left: 20px;
}

.menu ul{
list-style:none;
background-color: rgb(250, 78, 9);
margin:0;
padding:0;
  padding-top:5px;
  padding-bottom:5px;
  padding-right: 5px;
}

.menu li{
display:inline-block;
float:left;
}

.menu li:first-child{
margin-left:5px;
}

.menu a{
display:block;
padding:10px;
text-decoration:none;
color:#bbbbbb;
border-top:2px solid transparent;
}

.menu a:hover,
.menu li.active a{
color:white;
border-top:2px solid #ff4800;
}

.clearFloat{
clear:both;
}

.white-text{
  color:white;
}

.float-right{
  float:right !important;
}
.content {
  margin-left: 50px;
  margin-right: 50px;
  background-color: rgb(244, 244, 235);
  height: 100%;
}
.content:hover {
  background-color: rgb(244, 244, 235);
}
.footer {
  postion: fixed;
  bottom: 60px;
}
a {
  text-decoration: none;
}
a:visited {
  color:black;
}
.content-wrapper{
  margin-left: 10px;
  background-color: rgb(246, 246, 240);
}
a:hover {
  text-decoration: underline;
  background-color: inherit;
  color:black;
}
.user-image {
  margin-left: 5px;
  padding-bottom: -7px;
  width: 45px;
  height: 45px;
}
