// Place all the styles related to the submissions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  
}

.noDecoration {
  text-decoration:none !important; 
}
.submission-info {
  margin-left: 10px;
  text-decoration: none;
  font-size: 7px;
  margin-bottom: 5px;
}